/* colors */
html{
    --footer: #5D576B;
    --footer2: #7A6B69;
    --header: #35CE8D;
    --transition: #D7BCE8;
    --body: #BCD8B7;
    --transition2: #6BA292;
}

body{
    background-color: var(--body);
    font-family: 'Poppins', sans-serif;
    max-width: 1300px;
    margin: auto;
}
/* -------------------header-------------------- */
header{
    background-color: var(--header);
    /* background-image: url(images/purple-young-intense-worried-male-student-badly-want-dream-come-true-cross-fingers-good-lu.jpg); */
}

h1{
    text-transform: uppercase;
}

header{
    padding: 15px;
    margin: 0px;
    font-size: large;
    text-align: center;
}

/* --------------footer--------------- */
footer{
    background-color: var(--footer2);
    text-align: center;
    padding: 15px;
}

/* --Icons and h3's-- */
.content{
    padding: 0;
}

.content:hover{
    background-color: var(--transition2);
}

/* --summary-- */
summary {
    font-weight: bold;
}

/* --List-- */
ul {
    list-style: none;
}

/* --Layouts-- */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main{
    margin-bottom: 250px;
}

/* -------------align icons-------- */
#gradescope .icon{
    margin-top: 20px;
    margin-bottom: 14px;
}
#woolf .icon{
    margin-top: 20px;
    margin-bottom: 14px;
}
#discord .icon{
    margin-top: 10px;
    margin-bottom: -5px;
}
#github .icon{
    margin-top: 12px;
    margin-bottom: 8px;
}
#zoom .icon{
    margin-top: 12px;
}

/* ------------list width------- */
ul{
    width: 600px;
}

li{
    margin-bottom: 30px;
}



